More:
<%= link "media", "/media/index.html", class: 'internal-link' %>
<% data(:section)[:projects].categories.each do |cat| %>
  <% next if cat.name != "misc" %>
  <% data(:section)[:projects].pages.each do |prj| %>
    <%= link prj.name, prj.url,
        class: 'internal-link'%>
  <% end %>
<% end %>
<br>
Layout:
<% themes = IceBlog.config(:themes) %>
<% themes.each do |theme| %>
  <%= theme %>
  <% skins = IceBlog.config(:skins) %>
  <% skins[:"#{theme}"].each do |skin| %>
    <% if theme == @theme && skin == @skin %>
      <span class="disabled-link"><%= skin %></span>
    <% else %>
      <%= link_to skin,
          layout_switch_path(theme: theme, skin: skin),
          class: 'internal-link' %>
    <% end %>
  <% end %>
<% end %>
