      <nav id="top-menu">
        <div class="top-menu-button">
          <a href="<%= root_url %>" class="top-menu-textlink">Home</a>
          <div class="top-menu-dropdown">
            <div class="dropdown-title">Miscellaneous</div>
            <ul class="dropdown-links">
              <li>
                <a href="/media/index.html" class="dropdown-link">media</a>
              </li>
              <% if data(:sections).has_key?(:projects) %>
                <% data(:sections)[:projects].pages.each do |prj| %>
                  <% next if prj.category.name.downcase != "misc" %>
                  <li>
                    <%= link_to prj.name, prj.url,
                      class: 'dropdown-link'%>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <div class="dropdown-title">Layout</div>
          </div>
        </div>
        <!-- PROJECTS -->
        <div class="top-menu-button">
          <%= link 'Projects', data(:sections)[:projects].url,
            class: 'top-menu-textlink' %>
          <div class="top-menu-dropdown">
            <% if data(:sections).has_key?(:projects) %>
              <% data(:sections)[:projects].categories.each do |cat| %>
                <% next if cat.name == "misc" %>
                <div class="dropdown-title"><%= cat.name %></div>
                <ul class="dropdown-links">
                  <% data(:sections)[:projects].pages.each do |prj| %>
                    <% next if cat.name != prj.category.name %>
                    <li>
                      <%= link prj.name, prj.url,
                        class: 'dropdown-link'%>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- BLOG CATEGORIES -->
        <div class="top-menu-button">
          <%= link 'Blog', data(:sections)[:blog].url,
            class: 'top-menu-textlink' %>
          <div class="top-menu-dropdown">
            <div class="dropdown-title">Categories</div>
            <ul class="dropdown-links">
              <% data(:sections)[:blog].categories.each do |cat| %>
                <li>
                  <%= link cat.name, cat.url,
                    class: 'dropdown-link'%>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <!-- optional forum url...
          <div class="top-menu-button">
            <%# link 'Forum', data(:forum_url),
              class: 'top-menu-textlink' %>
          </div>
        -->
      </nav>
