<div class="content-element micropost">
  <img class="post-icon" src ="<%= micropost.user.avatar_url %>"
    alt="avatar">
  <span class="post-title">
      <%= link_to micropost.user.name, profile_path(micropost.user),
          class: "profile-link" %>
  </span>
  <span class="post-date" title="<%= micropost.published_date.to_s(:rfc822) %>">
    <%= time_ago_in_words(micropost.published_date) %> ago
  </span>
  <div class="post-content">
    <% if micropost.class == Micropost %>
      <% unless micropost.spoiler_text.present? %>
        <%= simple_format(auto_link(h(micropost.content))) %>
      <% else %>
        <%= micropost.spoiler_text %>
        <a class="internal-link" id="spoiler-show-<%= micropost.id %>"
          onclick="IceBlog.showSpoiler(<%= micropost.id %>)">
                   [show]</a>
        <a class="internal-link spoiler-hide"
          id="spoiler-hide-<%= micropost.id %>"
          onclick="IceBlog.hideSpoiler(<%= micropost.id %>)">
                   [hide]</a>
        <div class="spoiler-container" id="spoiler-<%= micropost.id %>">
          <%= simple_format(auto_link(h(micropost.content))) %>
        </div>
      <% end %>
    <% elsif micropost.class == BlogPost %>
      <p class='post-title'><%= micropost.title %>
      <% cat = BlogCategory.find(micropost.blog_category_id) %>
      <span class="post-category">in
      <%= link_to cat.name, category_path(cat), class: "internal-link"  %>
      </span>
      <% unless micropost.published %>
        <span class="mark-unpublished">(unpublished)</span>
      <% end %>
      <% if micropost.content_update && 
          (@current_user && @current_user.admin?)  %>
        <span class="mark-pending-update">(update pending)</span>
      <% end %></p>
      <div class="blog-preview-body">
        <% if micropost.icon.present? %>
          <%= image_tag micropost.icon_url, class: "blog-icon" %>
        <% end %>
        <p class="blog-preview">
          <span class="post-text-span">
          <%= micropost.preview %>
          <%= link_to "(more)", article_path(micropost),
            class: "internal-link" %></span>
        </p>
      </div>
    <% end %>
  </div>
  <% if micropost.class == Micropost && micropost.image.present? %>
    <% if micropost.image_dimensions[0][0] <= IceBlog::config(:thumb_width) &&
        micropost.image_dimensions[0][1] <= IceBlog::config(:thumb_height) %>
      <!-- show real image -->
      <figure>
        <%= image_tag micropost.image_url, class: "post-image" %>
      </figure>
    <% else %>
      <!-- show thumbnail and link to modal -->
      <figure id="post-image-figure-<%= micropost.id %>"
        class="js-only">
        <%= image_tag micropost.image.url(:thumb),
          class: "post-image js-opener",
          id: "post-image-#{micropost.id}",
          onload: "IceBlog.displayPostIMG(#{micropost.id})",
          onclick: "IceBlog.openPostIMG(#{micropost.id})",
          'data-url': micropost.image_url,
          'data-width': micropost.image_dimensions[0][0],
          'data-height': micropost.image_dimensions[0][1],
          'data-id':  micropost.id %>
      </figure>
      <noscript>
        <figure class="">
          <%= link_to(image_tag(micropost.image.url(:thumb),
                      class: "post-image"), micropost.image_url,
                      target: '_blank') %>
        </figure>
      </noscript>
      <div class="post-image-hint">
        Click image to expand
      </div>
    <% end %>
  <% end %>
  <% if micropost.class == Micropost && micropost.video.present? %>
    <div class="media">
      <video class="internal-video" controls>
        <source src="<%= micropost.video_url %>"
          type="<%= micropost.video.content_type %>">
      Your browser does not support the video element.
      </video>
    </div>
  <% end %>
  <div class+"post-footer">
    <% if micropost.class == BlogPost %>
      <%= link_to "Read Here", article_path(micropost),
      class: "internal-link small-text" %> |
    <% end %>
    <%= link_to "Leave Comment",
      comment_form_url(source_model: micropost.class.to_s.downcase,
                       source_id: micropost.id,
                       reply_id: 0,
                       format: :js),
      class: "internal-link small-text",
      remote: true  %> |
    <% comment_count = Comment.where(
      source_model: micropost.class.to_s.downcase,
      source_id: micropost.id).count
    %>
  <%= link_to "Comments (#{ comment_count })", "#post-comments-#{micropost.class.to_s.downcase}-#{micropost.id}",
      id: "comments-opener-#{micropost.class.to_s.downcase}-#{micropost.id}",
      class: "internal-link small-text",
      onclick: "IceBlog.loadComments('#{micropost.class.to_s.downcase}',
      #{micropost.id})" %> |
    <%= link_to "Share",
      modal_text_url(string: micropost_view_url(
        source: micropost.class.to_s.downcase, id: micropost.id),
                       format: :js),
      class: "internal-link small-text",
      remote: true  %>
    <% if @current_user && @current_user.admin? %>
      |
      <% if micropost.class == Micropost %>
        <%= link_to "Edit", edit_micropost_path(micropost),
          class: "internal-link small-text" %>
      <% end %>
      <% if micropost.class == BlogPost %>
        <%= link_to "Edit", edit_blog_post_path(micropost),
          class: "internal-link small-text" %>
      <% end %>
    <% end %>
  </div>
  <div class="comment-container" id="post-comments-<%= 
    micropost.class.to_s.downcase %>-<%= micropost.id %>">
  </div>
</div><br>
