<%= render "main/#{@theme}/stickies", important_only: true %>

<div class="content-element post">
  <img class="post-icon" src ="<%= @post.user.avatar_url %>"
    alt="avatar">
  <span class="post-title">
      <%= link_to @post.user.name, profile_path(@post.user),
          class: "profile-link" %>
  </span>
  <span class="post-date" title="<%= @post.published_date %>">
    <%= time_ago_in_words(@post.published_date) %> ago
  </span>
  <% unless @post.published %>
    <span class="mark-unpublished">(unpublished)</span>
  <% end %>
  <% if @post.content_update && 
      (@current_user && @current_user.admin?)  %>
    <span class="mark-pending-update">(update pending)</span>
  <% end %>
  <div class="large-post-content">
    <h1><%= @post.title %></h1>
    <% if @post.content_update && 
        (@current_user && @current_user.admin?)  %>
      <%= raw @post.content_update %>
    <% else %>
      <%= raw @post.content %>
    <% end %>
  </div>
  <div class+"post-footer">
    <%= link_to "Leave Comment",
      comment_form_url(source_model: 'blogpost',
                       source_id: @post.id,
                       reply_id: 0,
                       format: :js),
      class: "internal-link small-text",
      remote: true  %> |
    <% comment_count = Comment.where(
      source_model: 'blogpost',
      source_id: @post.id).count
    %>
  <%= link_to "Comments (#{ comment_count })", "#post-comments-blogpost-#{@post.id}",
      id: "comments-opener-blogpost-#{@post.id}",
      class: "internal-link small-text",
      onclick: "IceBlog.loadComments('blogpost',
      #{@post.id})" %> |
  </div>
  <div class="comment-container" id="post-comments-blogpost-<%= @post.id %>">
  </div>
</div>
