<%= render "main/#{@theme}/stickies", important_only: false %>

<div class="content-element content-menu">
  <span class="post-title">Blog</span> category: <%= @category %>. tags:
  <% used_tags = Array.new %>
  <% i = 0 %>
  <% @tags.each do |item| %>
    <% unless used_tags.include? item.name %>
      <% unless i == 0 %>|<% end %>
      <% i += 1 %>
      <% unless item.name == @tag %>
        <%= link_to item.name, category_path+"/t/#{u item.name}",
          class: 'internal-link' %>
      <% else %>
        <span class="current-item"><%= item.name %></span> 
      <% end %>
      <% used_tags.push(item.name) %>
    <% end %>
  <% end %>
</div><br>

<% if pages = will_paginate(@microposts) %>
  <div class="content-element">
    <%= pages %>
  </div>
<% end %>

<% @microposts.each do |item| %>
  <% if params.key?('tag') %>
    <%= render "main/#{@theme}/micropost", micropost: item.blog_post %>
  <% else %>
    <%= render "main/#{@theme}/micropost", micropost: item %>
  <% end %>
<% end %>

<% if pages %>
  <div class="content-element">
    <%= pages %>
  </div>
<% end %>
