<!DOCTYPE html>
<html>
  <head>
    <title><%= meta(:title) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="<%= meta(:keywords) %>">
    <meta name="description" content="<%= meta(:description) %>">
    <meta name="author" content="<%= meta(:author) %>">
    <meta name="generator"
          content="<%= site_name+" (zArchitect "+"1.0" %>)">

    <link rel="stylesheet" media="all" href="/assets/default.css" />
    <link rel="stylesheet" media="all" href="/assets/ellis.css" />
    <script src="/assets/ellis.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />

  </head>

  <body>
    <div id="modal-bg" onclick="IceBlog.closeModal();">
      <div id="modal">
        <div id="modal-header">
          <span class="large-text">close &times;</span>
        </div>
        <div id="modal-content">
        </div>
        <div id="modal-footer">
          <span class="large-text">close &times;</span>
        </div>
      </div>
    </div>
  <!-- TOP SECTION START -->
    <div id="top-fixture">
      <!-- TITLE BAR -->
      <header class="site-header">
        <div id="title-grid">
          <div id="title-text">
            <a class="site-title" href="<%= root_url %>">
              <%#= img "/assets/site_icon.png", id: "site-icon" %>
              <%= site_name %>
            </a>
            <span class="site-slogan"><%= site_slogan %></span>
          </div>
          <div id="title-rss">
            <a href="/blogfeed.rss">
              <%= include "include/_rss.svg" %>
            </a>
          </div>
        </div>
      </header>
      <div id="banner-container">
        <%#= img "/assets/banner.jpg", id: "banner" %>
      </div>
      <!-- TOP MENU -->
      <%= include "include/_top_navigation.html.erb" %>
    </div>
  <!-- TOP SECTION END -->
  <!-- CENTER SECTION START -->
    <div id="grid-container-middle">
      <aside class="classic-menu">
        <div class="menu-container">
          <%= email(false) %>
            <img class="avatar" src ="/assets/avatar.png" alt="avatar">
          <div class="about">I do stuff</div>
        </div>
      </aside>
      <main id="content-area">
        <%= data(:content) %>
      </main>
    </div>
    <div id="mobile-sub-menu">
      <%= include "include/_mobile_sub_menu.html.erb" %>
    </div>
  <!-- CENTER SECTION END -->
  <!-- FOOTER SECTION START -->
  <%= include "include/_footer.html.erb" %>
      
  </body>
</html>
