<%= render "main/#{@theme}/stickies", important_only: false %>

<% if pages = will_paginate(@media) %>
  <div class="content-element">
    <%= pages %>
  </div>
<% end %>

<% @media.each do |media| %>
  <div class="content-element micropost">
    <% if media.image.present? %>
      <% if media.image_dimensions[0][0] <= 
        IceBlog::config(:thumb_width) &&
        media.image_dimensions[0][1] <= 
        IceBlog::config(:thumb_height) %>
        <!-- show real image -->
        <figure class="post-image-figure">
          <%= image_tag media.image_url, class: "post-image img-no-border" %>
        </figure>
      <% else %>
        <!-- show thumbnail and link to modal -->
        <figure id="post-image-figure-<%= media.id %>"
          class="post-image-figure js-only">
          <%= image_tag media.image.url(:thumb),
            class: "post-image js-opener img-no-border",
            id: "post-image-#{media.id}",
            onload: "IceBlog.displayPostIMG(#{media.id})",
            onclick: "IceBlog.openPostIMG(#{media.id})",
            'data-url': media.image_url,
            'data-width': media.image_dimensions[0][0],
            'data-height': media.image_dimensions[0][1],
            'data-id':  media.id %>
        </figure>
        <noscript>
          <figure class="post-image-figure">
            <%= link_to(image_tag(media.image.url(:thumb),
              class: "post-image img-no-border"), media.image_url,
              target: '_blank') %>
          </figure>
        </noscript>
      <% end %>
    <% elsif media.video.present? %>
      <div class="media">
        <video class="internal-video" controls>
          <source src="<%= media.video_url %>"
            type="<%= media.video.content_type %>">
        Your browser does not support the video element.
        </video>
      </div>
    <% end %>
  </div>
<% end %>

<% if pages %>
  <div class="content-element">
    <%= pages %>
  </div>
<% end %>
