<%= render "main/#{@theme}/stickies", important_only: true %>

<div class="content-element post">
  <img class="post-icon" src ="<%= @data[:admin_icon_url] %>"
    alt="avatar">
  <span class="post-title">
      <%= link_to @data[:admin_name], profile_path(1),
          class: "profile-link" %>
  </span>
  <span class="post-date" title="<%= @project.created_at %>">
    <%= time_ago_in_words(@project.created_at) %> ago
  </span>
  <% unless @project.published %>
    <span class="mark-unpublished">(unpublished)</span>
  <% end %>
  <% if @project.content_update %>
    <span class="mark-pending-update">(update pending)</span>
  <% end %>
  <div class="large-post-content">
    <h1><%= @project.name %></h1>
    <% if @project.content_update && 
        (@current_user && @current_user.admin?)  %>
      <%= raw @project.content_update %>
    <% else %>
      <%= raw @project.content %>
    <% end %>
  </div>
</div>
